body{
    background-color: #ffffff;
    margin: 0%;
    padding: 0%;
    /* cursor: unset; */
    max-width: 1400px;
    min-width: 992;
}

h1{
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

h2,h3{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

a{
    text-decoration: none;
}

a:visited{
    color: #000000;
}


header{
    margin: 0% 0% 2% 3%;
}

.header-top-nav{
    display: flex;
    justify-content: space-between;
}

.Upper-logo-img{
    width: 62px;
    height: 19px;
    padding-top: 44px;
}


.header-nav{
    display: flex;
    justify-content: center;
    width: 25%;
    
}

.header-list{
    list-style: none;
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: space-around;
    margin: 0px;

}


.list-item-header {
    height: 100%;
    padding-top: 45px;

}

.header-link{
    height: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.list-item-header:hover{
    border-top: 2px solid #0065FC;
}

.header-h1{
    padding-top: 40px;
}


.header-search-bar{
    width: 45%;
    display: flex;
    height: 49px;
    margin-bottom: 40px;
}


.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header-search-bar-input{
    height: 49px;   
    width: 250px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.header-search-bar-search-button-bigscreen{
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 132px;
    padding-left: 1em;
    padding-right: 1em;
    color:#ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.header-search-bar-search-button-smallscreen{display: none;}

.rechercher-button{
    background: none;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    
}

.rechercher-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-filtres{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.header-filtres-h2{
    padding-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.header-div-filters{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}

.header-filter{    
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    padding: 0% 2% 0% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    background-color: #ffffff;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;    
    color: #000000; 
}




.header-filter:hover{
    background-color: #DEEBFF;
}


.logo-filter{
    color: #0065FC;
    padding: 0% 5px 0% 0%;
}

.header-h3-section{
    display: flex;
    padding: 38px 0px 20px 0px;
}
.header-h3{
    margin: 5px 0px 0px 0px;
}

.header-info-icon{
    width: 24px;
    height: 24px;
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;   
    margin: 0px 11px 0px 0px; 

}

.fa-info{
    color: #0065fc;
    height: 12px;
    margin-top: 2px;
}
.mid-page{
    display: flex;
    justify-content: space-around;
}

.main{
    width: 60%;
    background: #F2F2F2;
    border-radius: 20px;
}

.main-h2{
    padding: 1% 2% 1% 2%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.main-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-div-article{
    width: 30%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 2% 0%;
    cursor: pointer;
}

.main-article-img{

    border-radius: 20px 20px 0px 0px; 
    padding: 3% 0% 5% 0%;
    margin: 0% 0% 0% 2.5%; 
    width: 95%;
    height: 114px;
    object-fit: cover;
}



/* .main-article-span{
    height: 60%;
    width: 100%;
} */

.main-div-article h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    margin: 2% 0% 0% 5%;
}

.main-div-article h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 2% 0% 2% 5%;
}

.main-div-article:hover{
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5);
}

.star-rating{
    display: inline-flex;
    width: 100%;
}

.star-rating-main{
    padding-left: 10px;
}
.start-on{
    color: #0065FC;
}
.star-off{
    color: #F2F2F2;
}

.main-p {
    display: flex;
    padding: 20px 0px 26px 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.aside{
    width: 31%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.mid-aside-populaiers-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    display: inline;
    width: 100%;
    padding: 1% 2% 1% 5%;

}

.fa-chart-line{
    color: #0065FC;
    padding: 8% 1% 2% 0% ;
}

.aside-top{
    display: flex;
    justify-content: space-between;
}

.aside-all-hotels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aside-hotel{
    display: flex ;
    flex-direction: column;
    width: 90%;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 5%;
    cursor: pointer;
}
.aside-hotel:hover{
    box-shadow: 0px 0px 20px  rgba(117, 91, 91, 0.5);
}

.mid-populaiers-aside-logement{
    display: flex;
    border-radius: 20px;
    height: 137px;
}

.mid-populaiers-aside-logement-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 5px;
    height: 144px;
    width: 80%;
}

.mid-populaiers-aside-logement h3{
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;    
    width: 100%; 
}

.mid-populaiers-aside-logement h4{
    margin-top: -20px;
    margin-bottom: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.mid-aside-div-logement-span{
    
    width: 50%;
    display: inline;
    border-radius: 20px;
    padding: 5px 0px 5px 5px;
    justify-content: center;
}

.mid-populaiers-img{
    width: 100%;
    height: 125px;
    border-radius: 20px 0px 0px 20px;
}

 img{
    object-fit: cover;
}

.lower-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
}

.lower-part-h2{
    padding-left: 3%;
    margin: 60px 0px 19px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.lower-section{
    width: 100%;
    /* height: 445px; */
    object-fit: cover;
    display: flex;
    justify-content: space-around;
}

.lower-section-div{
    height: 445px;
    width: 20%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.article-sctivities{
    height: 445px;
}


.lower-section-div-p{
    padding-left: 5%;
    max-height: 25px;
    /* border: dotted; */
    object-fit: cover;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;

}

.lower-section-div-pimg{
    height: 100%;
    margin:  0px 0px 0px 0px;
}

.lower-section-div-p-img{
    border-radius: 20px 20px 0px 0px;
    height: 385px;
    width: 100%;
    object-fit: cover;
    width: 100%;
    margin:  0px 0px 0px 0px;   
    padding: 0%;
}

.lower-section-div:hover{
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5);
}

.footer{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 62px;
    display: flex;
    height: 225px;
    width: 90%;
    margin-left: 5%;
    justify-content: space-around;
}

.fotter-ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;  
    color: #000000;
    margin-top: 45px ;
    margin-bottom: 20px;
}  
.list-title a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;  
    color: #000000;
}

.list-item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: block;
    margin-bottom: 20px;


}



